<!-- @format -->

<nav>
	<ul class="navbar">
		<li class="navbar"><a href="/"> Home Page </a></li>
		<li class="navbar"><a href="/contact"> About Me </a></li>
		<li class="navbar"><a href="/projects"> Projects </a></li>
		<li class="navbar"><a href="/aspirations"> Aspirations </a></li>
		<li class="navbar"><a href="/contact"> Contact Me </a></li>
	</ul>
</nav>
