<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/stylesheets/blackboard.css" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blackboard</title>
		<script type="module" src="/javascript/eventhandler.js"></script>
	</head>
	<body>
		<div class="BBInteract">
			<canvas id="canvas"></canvas>
			<div class="clickedMark"></div>
		</div>
	</body>
</html>
