<!-- @format -->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scaled=1.0" \ />
		<title>Ian Coleman Portfolio</title>
		<link href="/stylesheets/styles.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lusitana&display=swap" rel="stylesheet"> 
	</head>

	<body>
		<main class="maincontent">
			<h1 class="page-header">
				Ian Coleman <br />
				<p class="quote"></p>
					Thinker, Worker, Motivator
				</p>
			</h1>

			<%- include ("../partials/navbar.ejs")%>
			<div class="flex-container">
				<img class="wide_pic" src="/Ian_jrp.jpg" alt="Ian as a jrp" />
				<img
					class="wide_pic"
					src="/Ian_jrp_guitar.jpg"
					alt="Ian holding guitar"
					style="object-position: 0 0"
				/>
				<img
					class="wide_pic"
					src="/Ian_Army_poland.jpg"
					alt="808th Engineering Company in Poland"
				/>
				<img
					class="wide_pic"
					src="/Ian_swinging.jpg"
					alt="Ian swinging an axe"
				/>
				<img
					class="wide_pic"
					src="/Jordan_Ian_stack.jpg"
					alt="Jordan Klepser and Ian at stack"
				/>
				<img
					class="wide_pic"
					src="/Maisel_Ian_truck.jpg"
					alt="Ian and his dog"
				/>
			</div>
			<div class="row">
				<div class="column column.side">
					<h3 class="big-text">Welcome to my personal website</h3>
				</div>
				<div class="column column.middle">
					<h3 class="big-text">
						I hope to include future projects on this site
					</h3>
				</div>
			</div>
		</main>
	</body>
</html>
