<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scaled=1.0"\>
		<title>Ian Coleman Portfolio</title>
		<link href="/stylesheets/styles.css" rel="stylesheet" />
	</head>

	<body>
		<main class="maincontent">
			<h1 class="page-header"> Ian Coleman <br>
			<p>Thinker, Worker, Motivator</p> </h1>
			<%- include ("../partials/navbar.ejs") %>
		
			<h2> Skills </h2>
				<p> 
					<h3> Communication Skills </h3>
					Excellent with team members and direction of other team elements
					<br>
					Experience working with multiple teams and businesses to ensure project completion by a set deadline
					<h3> Writing Skills </h3>
					Experience writing academic work, material for public speaking, and organizational guidelines
					<h3> Computer and Programming </h3>
					Self-taught programming in JavaScript with Node.js, Python, HTML/CSS <br>
					<div class = "indent">
					I built this website using Javascript and HTML/CSS
					</div>
					Experience working with Microsoft Excel, PowerPoint, and Word
				</p>
			</div>
		<div class="content-wrap">
			<h2> Work Experience </h2>
			<p> <h3> Lowe's Home Improvement</h3>
				<i> Sales Associate</i><br>
				<li class="bulletpoint"> Anticipated customer needs to promote retail sales in tools and hardwre </li>
				<li class="bulletpoint"> Categorized merchandise for maximum consumer satisfaction and convenience </li>
			
			<h3> United States Army Reserve </h3>
				<i>Carpentry and Masonry Specialist </i>
				<li class="bulletpoint"> Responsible for maintenance and accountability of Government Property </li>
				<li class="bulletpoint"> Exercised proficiency in vertical construction operations with differentiated teams </li>
			
			
			<h3> Obannon's Taphouse </h3>
				<i> Bar-back </i>
				<li class="bulletpoint">Demonstrated adept knowledge on 100+ varieties of beer and merchandise</li>
				<li class="bulletpoint"> Collaborated with a team to ensure effective work flow, time management, and customer satisfaction</li>
			</div>
		</main>
	</body>
</html>
